<form [formGroup]="dataForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h3 class="modal-title mt-0"><b>{{title}}</b></h3>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label for="pno">Mã nhà cung cấp<span class="text-danger">*</span></label>
          <input id="pno"   type="text"  class="form-control" formControlName="providerNo" maxlength="50">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-2">
          <label for="pname">Tên nhà cung cấp<span class="text-danger">*</span></label>
          <input id="pname" type="text" class="form-control" formControlName="providerName" maxlength="40" trim="blur">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label for="pno">Số điện thoại<span class="text-danger">*</span></label>
          <input id="pno" type="text"  class="form-control" formControlName="phoneNumber" maxlength="50" trim >
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-2">
          <label for="pname">Email<span class="text-danger">*</span></label>
          <input id="pname" type="text" class="form-control" formControlName="email" maxlength="40" trim="blur">
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <div class="mb-2">
          <label for="pno">Địa chỉ<span class="text-danger">*</span></label>
          <input id="pno"  type="text"  class="form-control" formControlName="address" maxlength="50" trim >
        </div>
    </div>
    <div class="col-md-6">
      <div class="mb-2">
        <label>Trạng thái<span class="text-danger">*</span></label>
        <select formControlName="status" class="form-control">
          <option value="1">Hoạt động</option>
          <option value="0">Vô hiệu hóa </option>
        </select>
      </div>
    </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" *ngIf="action==='create'||action==='edit'">Lưu</button>
    <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">Hủy</button>
  </div>
</form>
