<div class="container-fluid">
    <app-page-title title="Quản lý sản phẩm" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="searchForm" (submit)="search()">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-4">
                  <label for="nameId">Mã sản phẩm</label>
                  <input id="nameId" name="name" type="text" class="form-control" formControlName="pno" maxlength="500">
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-4">
                  <label>Tên sản phẩm</label>
                  <input id="nameId" name="pname" type="text" class="form-control" formControlName="pname" maxlength="500">
                </div>
              </div>
<!--              <div class="col-md-4">-->
<!--                <div class="mb-4">-->
<!--                  <label for="statusId">Trạng thái</label>-->
<!--                  <select class="form-control" formControlName="status">-->
<!--                  <option value="">Tất cả</option>-->
<!--                  <option value="00">Chưa đăng tải</option>-->
<!--                  <option value="01">Đã đăng tải</option>-->
<!--                  <option value="02">Đã mở thầu</option>-->
<!--                  <option value="03">Đã nhập kết quả</option>-->
<!--                  <option value="04">Đã công khai kết quả</option>-->

<!--                </select>-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="d-flex flex-wrap gap-2 mt-2 justify-content-center">
              <button type="submit" class="btn btn-primary"><i
                class="fas fa-search"></i>{{'common.button.search'|translate}}</button>
              <button type="button" (click)="create()" class="ml-2 btn btn-success"><i class="bx bx-plus-medical"></i>{{'common.button.insert'|translate}}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">

          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
                   class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
              <thead>
              <tr>
                <th>STT</th>
                <th>Thao tác</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng (Chiếc)</th>
                <th>Trạng thái</th>
              </tr>
              </thead>
              <tbody *ngFor="let table of tables;let i=index">
              <tr>
                <!-- <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="table.selected">
                  </div>
                </td> -->
                <td>
                  <ngb-highlight [result]="i + 1 + ((page.pageNumber - 1) * page.size)"></ngb-highlight>
                </td>
                <td>
                  <i class="fas fa-edit" style="cursor: pointer; color: #7d90ee" [ngbTooltip]="'common.button.edit'|translate" (click)="edit(table)"></i>
                  <!--<i class="fas fa-trash" style="cursor: pointer; color: #7d90ee" [ngbTooltip]="'common.button.resetPassword'|translate" (click)="deleteProduct(table)"></i> |
                  <i class="fas fa-upload" style="cursor: pointer; color: #7d90ee" [ngbTooltip]="'common.button.resetPassword'|translate" (click)="push(table)"></i>-->
                </td>
                <td style="max-width: 150px;">
                  <p class="class_nowrap_lims" >{{table.pno}}</p>
                </td>
                <td style="max-width: 150px;">
                  <p class="class_nowrap_lims" >{{table.pname}}</p>
                </td>
                <td style="max-width: 150px;">
                  <p class="class_nowrap_lims">{{table.amount}}</p>
                </td>
                <td style="max-width: 150px;">
                  <p class="class_nowrap_lims">{{table.amount===0?"Hết hàng":"Còn hàng"}}</p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="page.totalElements" [(page)]="page.pageNumber" [pageSize]="page.size"
                                [maxSize]="5" (pageChange)="changePage($event)">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>

    </div>
  </div>
