<form [formGroup]="dataForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h3 class="modal-title mt-0"><b>{{title}}</b></h3>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-2">
          <label for="loginId">{{'users.login'|translate}}<span class="text-danger">*</span></label>
          <input id="loginId" [readOnly]="inputData" type="text" class="form-control" formControlName="username" maxlength="50">
          
        </div>
      </div>
      <div class="col-md-12" >
        <div class="mb-2">
          <label for="passwordId">{{'users.password'|translate}}<span class="text-danger">*</span></label>
          <input id="passwordId"  type="password" class="form-control" formControlName="password" maxlength="254" (blur)="enterPassword()">
        
        </div>
      </div>
      <div class="col-md-12" >
        <div class="mb-2">
          <label for="rePasswordId">{{'users.rePassword'|translate}}<span class="text-danger">*</span></label>
          <input id="rePasswordId"   type="password" class="form-control" formControlName="rePassword" maxlength="50" (blur)="enterRePassword()">
          
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{'common.button.save'|translate}}</button>
    <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">{{'common.button.close'|translate}}</button>
  </div>
</form>
