<form [formGroup]="dataForm">
  <div class="modal-header">
    <h3 class="modal-title mt-0"><b>{{title}}</b></h3>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label for="pno">Mã hóa đơn<span class="text-danger">*</span></label>
          <input id="pno" [readOnly]="true" type="text" class="form-control" formControlName="code" maxlength="50" placeholder="Hệ thống tự tạo">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2">
          <label for="pname">Ngày xuất kho<span class="text-danger">*</span></label>
          <input id="pname" type="date" class="form-control" formControlName="importDate" maxlength="40">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mb-2">
          <label for="pname">Tiêu đề<span class="text-danger">*</span></label>
          <input id="pname" type="text" class="form-control" formControlName="title" maxlength="40">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="mb-2">
          <label for="pno">Mô tả<span class="text-danger">*</span></label>
          <input id="pno" type="text" class="form-control" formControlName="description" style="height: 200px">
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <h2>Danh sách sản phẩm đang có trong kho</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Mã sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Chọn nhà cung cấp</th>
          <th>Tên nhà cung cấp</th>
          <th>Số lượng</th>
          <th>Giá từng sản phẩm (VNĐ)</th>
          <th>Hành động</th>
        </tr>
        <tr [formGroup]="dataFormList">
          <td>
            <div style="display: flex; align-items: center;">
            <input type="text" formControlName="productNo" placeholder="Mã sản phẩm" class="form-control" ><button (click)="searchProduct()" class="btn btn-primary"><i class="fas fa-search"></i></button>
          </div>
          </td>
          <td><input type="text" formControlName="productName" disabled placeholder="Tên sản phẩm" class="form-control"></td>
          <td>
            <ng-select formControlName="providerNo" formControl="form-control" *ngFor="let item of providers" (change)="addProvider(item)">

              <ng-option value=""></ng-option>
              <ng-option value="{{item.providerNo}}" >{{item.providerNo}}-{{item.providerName}}</ng-option>
            </ng-select>
          </td>
          <td><input type="text" formControlName="providerName" disabled placeholder="Tên nhà cung cấp" class="form-control"></td>
          <td><input type="number" formControlName="amount" placeholder="Số lượng" class="form-control"></td>
          <td><input type="number" formControlName="price" placeholder="Giá" class="form-control"></td>
          <td><button type="button" class="btn btn-primary" *ngIf="access!=1" (click)="addProduct()"><i class="fas fa-plus"></i></button></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.productNo }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.providerNo }}</td>
          <td>{{ product.providerName }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.price | currency:'VND' }}</td>
          <td><button type="button" class="btn btn-danger" *ngIf="access!=1" (click)="removeProduct(product)">Xóa</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"  (click)="push()" *ngIf="action === 'edit'&&access!=1">Duyệt</button>
    <button type="submit" class="btn btn-primary"  (click)="save()" *ngIf="(action === 'create' || action === 'edit')&&access!=1">Lưu</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Hủy</button>
  </div>
</form>
