<form [formGroup]="dataForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h3 class="modal-title mt-0"><b>{{title}}</b></h3>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label for="username">Tên đăng nhập<span class="text-danger">*</span></label>
          <input id="identifier" [readOnly]="inputData" type="text" class="form-control" formControlName="identifier"  maxlength="50" trim>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-2">
          <label for="fullname">Họ tên<span class="text-danger">*</span></label>
          <input id="fullname" type="text" class="form-control" formControlName="fullname" maxlength="40" trim="blur">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2">
          <label for="address">Địa chỉ<span class="text-danger">*</span></label>
          <input id="firstNameId" type="text" class="form-control" formControlName="address" maxlength="40" trim="blur">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-2">
          <label for="phone">SĐT<span class="text-danger">*</span></label>
          <input id="phone"  type="text" class="form-control" formControlName="phone" maxlength="40" trim="blur">
        </div>
      </div>


      <div class="col-md-6" *ngIf="role=='00'">
        <div class="mb-2">
          <label>Vai trò<span class="text-danger">*</span></label>
          <select class="form-control" formControlName="role">
            <option value="00">Admin</option>
            <option value="01">Nhân viên</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2">
          <label for="emailId">Email<span class="text-danger">*</span></label>
          <input id="emailId"  type="text" class="form-control" formControlName="email" maxlength="254" trim="blur">
        </div>
      </div>

      <div class="col-md-6" *ngIf="checkAction && role=='00'">
        <div class="mb-2">
          <label for="statusId">Trạng thái<span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control">
            <!-- <option value="00">Chưa duyệt</option> -->
            <option value="01">Hoạt động</option>
            <option value="02">Vô hiệu hóa </option>
          </select>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">Hủy</button>
  </div>
</form>
